<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Quizz</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
</head>
<body>
        <header> <nav class="navbar container navbar-expand-lg navbar-light nav-color">
                <a class="navbar-brand" href="quizz"> <img src="./assets/growacademy (1).png" alt=""> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                  
                     <li class="nav-item"> <a class="nav-link" href="https://www.growstrategyzer.com/" style="color: #FF4080">www.growstrategyzer.com</a> </li>
                  </ul>
                </div>
               </nav>
              </header> 
</body>
</html>
