<app-header></app-header>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Quizz</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</head>
<body>
    <br><br>
    <h3 class="titre" *ngIf="connaitre">CONNAISSEZ-VOUS CE QUARTIER DE DAKAR?</h3> <br><br>

        <section class="section1" *ngIf="premier">
                <h3 class="titre">QUESTION <span style="color: #FF4080">1</span> /4</h3> <br><br>
                <div class="container">
                  
                   <div class="row">
                      <div class="col-md-6">
                         <div class="image1">
                            <img src="./assets/gor.png" alt="">
                           
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="quartier">
                               <h4>Jetez un coup d'œil à la carte. <br>
                                 De quel quartier s'agit-il ?</h4> <br>
                               
                            <p class="q" (click)="pf(0,'medina')" >Medina </p>
                            <p class="q"(click)="pf(0,'yoff')" >Yoff</p>
                            <p class="q" (click)="pf(1,'foire')">Foire</p>

                           
                         </div>
                      </div>
                     
                   </div>
                </div>
             </section>

            <div>
<section class="section2  animated bounceInLeft" *ngIf="deuxieme"  >
               <h3 class="titre">QUESTION <span style="color: #FF4080">2</span> /4</h3> <br><br>

                    <div class="container">
                      
                       <div class="row">
                          <div class="col-md-6">
                             <div class="image2">
                                <img src="./assets/ouakam.png" alt="">
                               
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="quartier2">
                                 <h4> Reconnaissez-vous ce quartier ?</h4>
                                 <p class="q" (click)="df(0,'medina')" >Medina </p>
                                 <p class="q"(click)="df(1,'yoff')" >Yoff</p>
                                 <p class="q" (click)="df(0,'foire')">Foire</p>

    
                              
                             </div>
                          </div>
                         
                       </div>
                    </div>
                 </section>

            </div> 
                 <section class="section3 animated bounceInLeft" *ngIf="troisieme" >
                  <h3 class="titre">QUESTION <span style="color: #FF4080">3</span> /4</h3> <br><br>

                        <div class="container">
                          
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="image3">
                                    <img src="./assets/ouakam.png" alt="">
                                   
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="quartier4">
                                       <h4> Reconnaissez-vous ce quartier ?</h4>
                                       <p class="q" (click)="tf(1,'medina')" >Medina </p>
                                       <p class="q"(click)="tf(0,'yoff')" >Yoff</p>
                                       <p class="q" (click)="tf(0,'foire')">Foire</p>
           
        
                                  
                                 </div>
                              </div>
                             
                           </div>
                        </div>
                     </section>

                     <section class="section4 animated bounceInLeft" *ngIf="quatrieme">
                        <h3 class="titre">QUESTION <span style="color: #FF4080">4</span> /4</h3> <br><br>

                            <div class="container">
                              
                               <div class="row">
                                  <div class="col-md-6">
                                     <div class="image4">
                                        <img src="./assets/ouakam.png" alt="">
                                       
                                     </div>
                                  </div>
                                  <div class="col-md-6">
                                     <div class="quartier4">
                                          <h4> Reconnaissez-vous ce quartier ?</h4>
                                          <p class="q" (click)="qf(0,'medina')" >Medina </p>
                                          <p class="q"(click)="qf(0,'yoff')" >Yoff </p>
                                          <p class="q" (click)="qf(1,'foire')" >Foire </p>

            
                                      
                                     </div>
                                  </div>
                                 
                               </div>
                            </div>
                         </section>

                        

                         
<div id="container note" *ngIf="passer>0">
   <div class="info  animated flipInY"   >
      <p >Vous avez obtenu <b style="color: #FF4080">{{cpt}} </b>points sur 4</p>

      <b style="color: #FF4080">1. </b> <span *ngIf="reponse1=='medina'" class="span">Medina </span>
      <span *ngIf="reponse2=='yoff'" class="span">Yoff </span>
      <b  style="color: #FF4080" > Foire</b>  <br>

      <b style="color: #FF4080">2. </b> <span *ngIf="reponse1=='medina'" class="span">Medina </span>
      <b  style="color: #FF4080" > Yoff</b>
      <span *ngIf="reponse3=='foire'" class="span">Foire </span> <br>

      <b style="color: #FF4080">3. </b> <b  style="color: #FF4080" > Medina</b> 
      <span *ngIf="reponse2=='yoff'" class="span">Yoff </span>
      <span *ngIf="reponse3=='foire'" class="span">Foire </span> <br>

      <b style="color: #FF4080">4. </b><span *ngIf="reponse1=='medina'" class="span">Medina </span>
      <span *ngIf="reponse2=='yoff'" class="span">Yoff </span>
      <b  style="color: #FF4080" > Foire</b>

      





   </div> 
</div> 

<div id='test' >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Nesciunt assumenda cupiditate qui adipisci reiciendis necessitatibus quibusdam quaerat culpa
       reprehenderit animi? Repudiandae pariatur itaque optio amet neque id ea mollitia deserunt 
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum voluptas esse, nihil id,
        doloremque enim hic, veniam impedit aliquid illum sapiente. Doloribus, nam? Quo ipsam nihil c
        upiditate placeat fuga praesentium. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Tempore, quos suscipit voluptatum numquam ducimus iusto consequuntur facere deleniti fugiat
          minus! Quidem modi dicta repellat voluptas, omnis laudantium aspernatur officia impedit. L
          orem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda sunt reiciendis ù
          ad in harum eos nihil omnis quia quam quo recusandae cumque, debitis ea dolor accusamus ob
          caecati odit eaque.
         </div>     


       
    
</body>
</html>


